/* Variables */
$colorLetra: #18439f;
$transparente: transparent;
$relativo: relative;
$absoluto: absolute;
$izquierda: left ;
$derecha: right;
$maximo: 100%;
$minimo: 0%;
$coloFondo: #f1f1f1;
$tipoLetra: Roboto;
$fondoSemitransparente: rgba(241, 241, 241, 0.59);

/* Barra de menu */
.fondo-menu{
	background: $transparente;
	background-color: $transparente;
    border-color: $transparente;
    color: $colorLetra;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
}

.relativo{
	position: $relativo;
}
.absoluto{
	position: $absoluto;
}
#menu{
	text-align: right;
}

/* Desaparecer las secciones */
/*Alineacion del texto o imagen */
.derecha{
	float: $derecha;
}

.izquierda{
	float: $izquierda;
}

/*Imagen de fondo en inicio */
#fondo{
	position:$relativo;
	width:$maximo;
	height:$maximo;
	margin-bottom: 5%;
}
/*Fondo de la pagina */
body{
	background-image:url(../img/fondo.jpg);
	background-repeat:repeat;
}
/*Contenedores del cuerpo de la pagina */
.container{
	background-color: $transparente;
}
.jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: $transparente;
}

/*Fuentes de la pagina */
h2{
	font: 200% $tipoLetra;
	color:  $colorLetra;
	margin-top: 5%;
}
h1{
	font: 250% $tipoLetra;
	color: $colorLetra;
	margin-top: 5%;
}
.cursiva{
	font-size: 150%;
	font-style: italic;
}
/*Imagenes que hay en la pagina de inicio */
.img-inicio{
	position: $relativo;
	z-index: 1;
	width: 40%;
	margin-right: 2%;
	margin-bottom: 10%;
}
/*Menu desplegable en dispositivos moviles */
.mostrar{
	display: table-cell;
    visibility: visible;
    background-color: $fondoSemitransparente;
    float: right;
}

.ocultar{
	display: none;
	visibility: hidden;
}

.calendario{
	width: $maximo;
}

/* Media query */
/* A menos de 767 pixeles*/
@media only screen and (max-width: 1200px) {
    #menu{
		text-align: right;
		background-color: rgba(241, 241, 241, 0.59);
	}
	.titulo{
		font-size: 1.1em;
		margin-bottom: $minimo;
	}
	.jumbotron p{
		font-size: 1em;
		margin-bottom: $minimo;
	}
	.cursiva{
		font-size: 1em;
	}
	.img-inicio{
		position: $relativo;
		width: 40%;
		margin-top: 5%;
		margin-right: 2%;
		margin-bottom: $minimo;
	}
	.btn-titulo {
		padding-right: $minimo;
	}

}










